transformers==4.3.0.dev0
sentence_transformers==0.4.1.2
allennlp==1.5.0
networkx==2.5
datasets==1.4.1
overrides==3.1.0
faerun==0.3.20
fire==0.4.0
deepspeed==0.3.4+6021b70
torch==1.7.1
pytest==6.2.2
faiss==1.7.0
numpy==1.20.1
hdbscan==0.8.27
pandas==1.2.3
umap_learn==0.5.1
more_itertools==8.7.0
jsonlines==2.0.0
plotly==4.14.3
blingfire==0.1.3
scipy==1.6.1
nltk==3.5
joblib==1.0.1
entmax==1.0
dataclasses==0.8
Pillow==8.1.2
scikit_learn==0.24.1
tmap==1.2.1
umap==0.1.1
