fire==0.3.1
nltk==3.5
blingfire==0.1.3
jsonlines==1.2.0
overrides==3.1.0
allennlp==1.2.2
deepspeed==0.3.4+6021b70
faiss==1.6.4
sentence_transformers==0.3.9
textattack==0.2.14
more_itertools==8.6.0
transformers==4.2.0.dev0
numpy==1.19.2
datasets==1.1.3
torch==1.7.0
pytest==6.1.2
dataclasses==0.8
